
#servicios {
	width: 100%;
	height: 100%;
	padding: 0 0 2% 0;
	margin-top: -5%;
	position: relative;
}

#servicios h3 {
	position: relative;
	z-index: 9999;
	padding: 0 5%;
	margin-bottom: -3.5%;
	text-transform: uppercase;	
	font-weight: 700;
}

#servicios #primeiraDiv {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 5%;
	position: relative;
}

@media(max-width: 991px) {
	#servicios {
		padding: 0 0 15% 0;
		margin-top: 0;
	}
	#servicios h3 {
		margin: 0;
		padding: 15% 10% 0 10%;
	}
	#servicios #primeiraDiv {
		flex-wrap: wrap;
		align-items: flex-start!important;
	}
}

#servicios .div-1 {
	width: 100%!important;
	height: 100%;
	margin-top: 5%;
	/*margin-right: 40px;	*/
	display: flex!important;
	flex-direction: column!important;
	justify-content: flex-start!important;
	align-items: flex-start!important;
}

#servicios .div-1 img {
	width: 100%;
	margin: 0;
}

@media(max-width: 991px) {
	#servicios .div-1 {
		margin: 0;
	}
	#servicios .div-1 img {
		width: 100%!important;
	}
}

#servicios .div-1 .div-11 {
	width: 100%;
	height: 100%;
	padding: 0 8% 0 8%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
}

@media(max-width: 420px) {
	#servicios .div-1 .div-11 {
		flex-wrap: wrap;
	}
}

#servicios .div-1 .div-11 h5 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1em;
}

#servicios .div-2 {
	width: 100%!important;
	height: 100%;
	margin-top: 5%;
	/*margin-left: 40px;	*/
	display: flex!important;
	flex-direction: column!important;
	justify-content: flex-start!important;
	align-items: flex-start!important;
}

#servicios .bloco-1 {
	width: 100%;
	height: 100%;
	padding: 5% 15% 15% 25%;
	display: flex!important;
	flex-direction: column!important;
	justify-content: flex-start!important;
	align-items: flex-start!important;
	z-index: 9999999!important;
}

@media(max-width: 1390px) {
	#servicios .bloco-1 {
		padding: 4.5% 15% 11% 25%;
	}
}

@media(max-width: 991px) {
	#servicios .bloco-1 {
		width: 90%;
		float: right;
		margin-top: 20%;
		padding: 4.5% 15% 10% 25%;
	}
}

@media(max-width: 550px) {
	#servicios .bloco-1 {
		width: 95%;
		float: right;
		margin-top: 20%;
		padding: 4.5% 15% 3% 25%;
	}
}

@media(min-width: 1800px) {
	#servicios .bloco-1 {
		padding: 5% 15% 15% 25%!important;
	}
}

#servicios .bloco-1 h4 {
	font-size: 1em;
	font-weight: 900;
	text-transform: uppercase;
}

#servicios .bloco-1 h5 {
	font-size: 0.9em;
}

#servicios .bloco-2 {
	width: 100%!important;
	height: 100%;
	display: flex!important;
	flex-direction: row!important;
	justify-content: flex-start!important;
	align-items: flex-start!important;
	position: relative;
}

#servicios .divImagem {
	width: 100%;
	height: auto;
	display: flex!important;
	flex-direction: row!important;
	justify-content: flex-start!important;
	align-items: flex-start!important;	
}

#servicios .div-22 {
	position: relative!important;
	margin-top: -41%!important;
	left: -20%!important;
	z-index: 99999999!important;
}

#servicios .div-22 img {
	width: 450px!important;
}

@media(max-width: 2000px) {
	/*#servicios .div-22 {
		margin-top: -32%!important;
	}*/
	#servicios .div-22 img {
		width: 380px!important;
	}
}

@media(max-width: 1520px) {
	#servicios .div-22 {
		margin-top: -42%!important;
	}
	#servicios .div-22 img {
		width: 300px!important;
	}
}

@media(max-width: 1390px) {
	/*#servicios .div-22 {
		margin-top: -35.5%!important;
	}*/
	#servicios .div-22 img {
		width: 280px!important;
	}
}

@media(max-width: 991px) {
	#servicios .div-22 {
		left: -10%!important;
	}
	#servicios .div-22 img {
		width: 250px!important;
	}
}

@media(max-width: 680px) {
	#servicios .div-22 {
		left: -10%!important;
	}
	#servicios .div-22 img {
		width: 180px!important;
	}
}

@media(max-width: 580px) {
	#servicios .div-22 {
		left: -20%!important;
	}
	#servicios .div-22 img {
		width: 220px!important;
	}
}

@media(max-width: 480px) {
	#servicios .div-22 {
		left: -22%!important;
	}
	#servicios .div-22 img {
		width: 180px!important;
	}
}

@media(max-width: 380px) {
	#servicios .div-22 {
		left: -26%!important;
	}
	#servicios .div-22 img {
		width: 150px!important;
	}
}







#servicios .divTexto {
	padding: 3% 8% 0 8%;
}

#servicios .texto3 {
	width: 100%;
	position: relative;
	right: 25%;
	height: 100%;
	padding-top: 18%;
}

@media(max-width: 991px) {
	#servicios .texto3 {
		margin-top: 5%;
		right: 0;
		padding: 0 5%;
		width: 100%;
	}
}

@media(max-width: 768px) {
	#servicios .texto3 {
		right: 0;
		padding: 0 5%;
		width: 100%;
	}
}

@media(max-width: 550px) {
	#servicios .texto3 {
		right: 22%;
		padding: 0 5%;
		width: 100%;
	}
}

#servicios .divTexto h5 {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1em;
}

#servicios .carousel-item {
	height: 105%!important;
}

#servicios .carousel-control-next {
	left: -3%;
	top: 70%;
}

@media(max-width: 991px) {
	#servicios .carousel-control-next {
		left: 5%;
		top: 100%;
	}
}

@media(max-width: 768px) {
	#servicios .carousel-control-next {
		left: 30%;
		top: 90%;
	}
}

@media(max-width: 580px) {
	#servicios .carousel-control-next {
		left: 8%;
		top: 95%;
	}
}

@media(max-width: 480px) {
	#servicios .carousel-control-next {
		left: 8%;
		top: 100%;
	}
}

#servicios .carousel-control-next img {
	width: 2rem;
	height: 2rem;
}

@media(max-width: 768px) {
	#servicios .carousel-control-next img {
		width: 1rem;
		height: 1rem;
	}
}